doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Nurmatov Doston
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='')
  meta(property='og:title' content='')
  meta(property='og:image' content='')
  meta(property='og:url' content='')
  meta(property='og:site_name' content='')
  meta(property='og:description' content='')
  meta(name='twitter:title' content='')
  meta(name='twitter:image' content='')
  meta(name='twitter:url' content='')
  meta(name='twitter:card' content='')
  link(rel='shortcut icon' href='favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700' rel='stylesheet')
  link(rel='stylesheet' href='/css/animate.css')
  link(rel='stylesheet' href='/css/icomoon.css')
  link(rel='stylesheet' href='/css/bootstrap.css')
  link(rel='stylesheet' href='/css/flexslider.css')
  link(rel='stylesheet' href='/fonts/flaticon/font/flaticon.css')
  link(rel='stylesheet' href='/css/owl.carousel.min.css')
  link(rel='stylesheet' href='/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='/css/style.css')
  script(src='js/modernizr-2.6.2.min.js')
#colorlib-page
  .container-wrap
    a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
      i
    aside#colorlib-aside.border.js-fullheight(role='complementary')
      .text-center
        .author-img(style='background-image: url(/images/2m.jpg);')
        h1#colorlib-logo
          a(href='index.html') Nurmatov Doston
        span.position
          a(href='https://stat.uz') Lead engineer system administrator
          |  - Statistics Agency
      nav#colorlib-main-menu.navbar(role='navigation')
        #navbar.collapse
          ul
            li
              a(href='#' data-nav-section='about') About me
            li
              a(href='#' data-nav-section='skills') My skills
            li
              a(href='#' data-nav-section='education') Education
            li
              a(href='#' data-nav-section='experience') Experience
            li
              a(href='#' data-nav-section='contact') Contact
    #colorlib-main
      section.colorlib-about(data-section='about')
        .colorlib-narrow-content
          .row
            .col-md-12
              .row.row-bottom-padded-sm.animate-box(data-animate-effect='fadeInLeft')
                .col-md-12
                  .about-desc
                    span.heading-meta Aboute me
                    h2.colorlib-heading About me
                    p
                      strong Men Nurmatov Doston Uktam o&apos;g&apos;li
                      br
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;I was born in the town of Bekobad, Tashkent region. Currently, I live in Mirzo Ulugbek district of Tashkent city.
                    p I am a system administrator with 2-3 years of experience.
                    p Github: <a href="https://github.com/devops-uzb?tab=repositories">devops-uzb</a>
      section.colorlib-skills(data-section='skills')
        .colorlib-narrow-content
          .row
            .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
              span.heading-meta My specialty
              h2.colorlib-heading.animate-box My skills
          .row
            .col-md-12.animate-box(data-animate-effect='fadeInLeft')
              p
                strong I am a strong system administrator.
                   Web I can configure servers and systems independently.
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
                <div class="progress-wrap">
                    <h3>Linux Administrator</h3>
                    <div class="progress">
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            <span>100%</span>
                        </div>
                    </div>
                </div>
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
              .progress-wrap
                h3 Pentisting
                .progress
                  .progress-bar.color-2(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='75' style='width:75%')
                    span 75%
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
              .progress-wrap
                h3 DevOps
                .progress
                  .progress-bar.color-1(role='progressbar' aria-valuenow='55' aria-valuemin='0' aria-valuemax='55' style='width:55%')
                    span 55%
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
              .progress-wrap
                h3 Configure network devices
                .progress
                  .progress-bar.color-3(role='progressbar' aria-valuenow='85%' aria-valuemin='0' aria-valuemax='80' style='width:85%')
                    span 80%
            .col-md-6.animate-box(data-animate-effect='fadeInRight')
              .progress-wrap
                h3 Windows Administrator
                .progress
                  .progress-bar.color-2(role='progressbar' aria-valuenow='95' aria-valuemin='0' aria-valuemax='95' style='width:95%')
                    span 95%
            .col-md-6.animate-box(data-animate-effect='fadeInLeft')
              .progress-wrap
                h3 HTML5
                .progress
                  .progress-bar.color-3(role='progressbar' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100' style='width:95%')
                    span 95%
            .col-md-6.animate-box(data-animate-effect='fadeInRight')
              .progress-wrap
                h3 CSS3
                .progress
                  .progress-bar.color-4(role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width:90%')
                    span 90%
            .col-md-6.animate-box(data-animate-effect='fadeInRight')
              .progress-wrap
                h3 Python
                .progress
                  .progress-bar.color-6(role='progressbar' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100' style='width:40%')
                    span 40%
      section.colorlib-education(data-section='education')
        .colorlib-narrow-content
          .row
            .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
              span.heading-meta Ta&apos;lim
              h2.colorlib-heading.animate-box Ta&apos;lim
          .row
            .col-md-12.animate-box(data-animate-effect='fadeInLeft')
              .fancy-collapse-panel
                #accordion.panel-group(role='tablist' aria-multiselectable='true')
                  .panel.panel-default
                    #headingOne.panel-heading(role='tab')
                      h4.panel-title
                        a(data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Bachelor's degree
                    #collapseOne.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='headingOne')
                      .panel-body
                        .row
                          .col-md-6
                           p 2016 - 2020 years
                          .col-md-6
                           p The Tashkent University of Information Technologies named after Muhammad ibn Musa al-Khwarizmi Muhammad al-Xorazmiy nomidagi Toshkent Axborot texnologiylari universiteti
                          .col-md-6 
                           p Information security
                  .panel.panel-default
                    #headingThree.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree') Vocational college
                    #collapseThree.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThree')
                      .panel-body
                        .row
                          .col-md-6
                            p 2010 - 2013 years
                          .col-md-6
                            p Vocational College of Construction and Utilities
                          .col-md-6
                            p Information systems and technologies
                  .panel.panel-default
                    #headingThree.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseThree1' aria-expanded='false' aria-controls='collapseThree1') School
                    #collapseThree1.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThree')
                      .panel-body
                        .row
                          .col-md-6
                            p 2001 - 2010 years
                          .col-md-6
                            p Bekobad city 3rd general secondary school
                  .panel.panel-default
                    #headingFour.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                          | Additional courses
                    #collapseFour.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFour')
                      .panel-body
                        p
                          strong Basics of C++
                          |  TUIT, 01.10.2016 - 01.01.2017 years
                        p
                          strong Configuring network devices
                          |  TUIT, 05.02.2017 - 1.03.2017 years
                        p
                          strong System administrator
                          |  TUIT, 02.10.2017- 16.02.2018 years
                        p
                          strong Linux Administrator
                          |  TUIT, 17.08.2021 - 3.03.2022 years

      section.colorlib-experience(data-section='experience')
        .colorlib-narrow-content
          .row
            .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
              span.heading-meta Experience
              h2.colorlib-heading.animate-box Work experience
          .row
            .col-md-12
              .timeline-centered
                article.timeline-entry.animate-box(data-animate-effect='fadeInLeft')
                  .timeline-entry-inner
                    .timeline-icon.color-1
                      i.icon-pen2
                    .timeline-label
                      h2
                        a(href='https://academy.uz')  Academy of sciences of the Republic of Uzbekistan
                        span  01.10.2017-15.01.2017 years
                      p  Network and System Administrator Practitioner
                article.timeline-entry.animate-box(data-animate-effect='fadeInRight')
                  .timeline-entry-inner
                    .timeline-icon.color-2
                      i.icon-pen2
                    .timeline-label
                      h2
                        a(href='https://historymuseum.uz') State Museum of the History of Uzbekistan 
                        span 4.02.2018-1.10.2018 years
                      p  System administrator
                article.timeline-entry.animate-box(data-animate-effect='fadeInLeft')
                  .timeline-entry-inner
                    .timeline-icon.color-3
                      i.icon-pen2
                    .timeline-label
                      h2
                        a(href='#') MyStudy study center
                        span  2.01.2019-16.06.2019 years
                      p 
                        |Mentor
                article.timeline-entry.animate-box(data-animate-effect='fadeInTop')
                  .timeline-entry-inner
                    .timeline-icon.color-4
                      i.icon-pen2
                    .timeline-label
                      h2
                        a(href='#') Statistics Agency under the President of the Republic of Uzbekistan
                        span 3.12.2020-..... and currently
                      p System administrator
                article.timeline-entry.begin.animate-box(data-animate-effect='fadeInBottom')
                  .timeline-entry-inner
                    .timeline-icon.color-none
      section.colorlib-contact(data-section='contact')
        .colorlib-narrow-content
          .row
            .col-md-6.col-md-offset-3.col-md-pull-3.animate-box(data-animate-effect='fadeInLeft')
              span.heading-meta Cantact
              h2.colorlib-heading Cantact
          .row
            .col-md-12
              .colorlib-feature.colorlib-feature-sm.animate-box(data-animate-effect='fadeInLeft')
                .colorlib-icon
                  i.icon-globe-outline
                .colorlib-text 
                  p Mail:  
                    a(href='#')  dostonnurmtovtashkent@gmail.com
              .colorlib-feature.colorlib-feature-sm.animate-box(data-animate-effect='fadeInLeft')
                .colorlib-icon
                  i.icon-map
                .colorlib-text
                  p Tashkent city, Mirzo Ulugbek district
              .colorlib-feature.colorlib-feature-sm.animate-box(data-animate-effect='fadeInLeft')
                .colorlib-icon
                  i.icon-phone
                .colorlib-text
                  p
                    a(href='tel://') +99899 884 09 46
script(src='/js/jquery.min.js')
script(src='/js/jquery.easing.1.3.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.waypoints.min.js')
script(src='/js/jquery.flexslider-min.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.countTo.js')
script(src='/js/main.js')
